*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #2C2C2E;
    /* color: white; */
    max-width: 1900px;
}




.output{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.output-image{
    display: flex;
    justify-content: center;
}
.output-image>img{
    width: 20vh;
}
.big-text {
    font-size: 24px;
    font-weight: bold;
}




.description-modal{}

.description-modal.open .modal-overlay,
.description-modal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}
.description-modal.hide .modal-overlay,
.description-modal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}
.description-modal.open  .modal-window {
    transform: translateY(100px);
}
.description-modal.open  .modal-overlay{
    background: rgba(0, 0, 0, .5);
}
.description-modal.hide  .modal-window {
    transform: translateY(-200px);
}
.description-modal.hide  .modal-overlay{
    background: rgba(0, 0, 0, 0);
}


.modal-window, .modal-overlay{
    opacity: 0;
    z-index: -1;
}
.modal-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
}
.modal-window {
    width: 600px;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;

}
.modal-header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.modal-title{
    font-size: 1.5rem;
}

.modal-close{
    cursor: pointer;
}
.modal-body{
    padding: 10px;
}

.modal-body p {
    margin: 0 0 5px;
}

.modal-footer{
    padding: 5px 10px;
    border-top: 1px solid #eee;
}
.modal-footer button{
    margin-left: 5px;
    border-width:1px;
}
#filter-results{
    display: flex;
    justify-content: center;
}


.clickable>p{
    color: blue;
    text-decoration: underline dotted blue;
    cursor: pointer;
}
.addFilmOptions {
    display: none;
}
.show {
    display: block;
}


.page {
    display: none;
}
.page.show {
    display: block;
}


.addFilmOptions{
    margin: 10px;
}

.header{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin: 47px 42px;
    align-items: center;
}
.logo-section{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
}

.site-name{
    margin-left: 15px;
}
.site-name>h1{
    font-size: 40px;
}
.navigation-section{
    margin-left: 80px;
}
.nav-button{
    outline: none;
    font-size: 20px;
    border-radius: 5px;
}
.search-area>input{
    font-size: 20px;
    /* padding: 18px 172px; */
    border-radius: 25px;
    padding: 18px;
    border: none;
    outline: none;
    width: 560px;
}
.content{
    margin-top: 107px;
    }
.add-film{
    display: flex;
    justify-content: center;
}
.kinopoiskSection>input{
    /* padding: 31px 341px; */
    width:780px;
    padding: 24px;
    margin-right: 20px;
    border-radius: 25px;
    font-size: 29px;
}
.add-kinopoisk-button{
    /* padding: 30px 117px; */
    padding: 21px;
    width:350px;
    border-radius: 25px;
    font-size: 29px;
}

.result{
    display: flex;
    /* flex-direction: column; */
    font-family: cursive, sans-serif ;
    justify-content: center;
}
.output-section{
    margin-top: 45px;
}
.output-section>h3{
    font-size: 90px;
}
#result{
    display: flex;
    justify-content: center;

}



.main-button{
    display: flex;
    justify-content: center; 
    margin-top: 113px;
}

.button{
    outline: none;
    border: 1px solid #ecdede;
    padding: 29px 144px;
    font-size: 30px;
    border-radius: 25px;
    background-color: #B665E2;
}

.film-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 50px;

    position: relative;
}

.card {
    width: 30vh;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    transform-origin: bottom center;
    transition: transform 0.3s;
    position: absolute;
}
.card>img{
    width: 100%;
}
.card-body{
    font-family: cursive, sans-serif ;
    font-size: 10px;
    /* font-weight: bold; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-text{
    padding: 0 5px 0 5px;
}
.card-title {
    word-wrap: break-word;
}
.watchedCard {
    width: 30vh;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    transform-origin: bottom center;
    transition: transform 0.3s;
    position: absolute;
}
.watchedCard>img{
    width: 100%;
}