*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background: linear-gradient(0deg, #151616 -103%, #000000 13%);
    /* color: white; */
    /* max-width: 1900px; */
    margin: auto;
}

.wrapper {
    padding: 20px;
    position: relative;
    z-index: 1;
}
.header{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin: 47px 42px;
    align-items: center;
    z-index: 1000;
}
.logo-section{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
}

.site-name{
    margin-left: 15px;
}
.site-name>h1{
    font-size: 40px;
    color: white;
}
.navigation-section{
    margin-left: 80px;
}
.nav-button{
    outline: none;
    font-size: 23px;
    border-radius: 25px;
    padding: 5px;
    background-color: rgb(68 68 68 / 0%);
    color: white;
    cursor: pointer;
    /* border: 1px solid #2C2C2E; */
    border: none;
}
.search-area{
    position: relative;
}
.search-area>input{
    font-size: 20px;
    /* padding: 18px 172px; */
    border-radius: 25px;
    padding: 18px 48px;
    width: 450px;
    background-color: #302E31;
    color: white;
    outline: none;
    border: 1px solid white;
    caret-color: white;
}
.search-icon{
    position: absolute;
    color: white;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.content{
    margin-top: 107px;
    }
.add-film{
    display: flex;
    justify-content: center;
}
.kinopoiskSection{
    display: flex;
}
.input-kinopoisk{
    position: relative;
    margin-right: 20px;
}
.input-kinopoisk>input{
    /* padding: 31px 341px; */
    width:780px;
    padding: 24px;
    border-radius: 25px;
    font-size: 29px;
    background-color: #302E31;
    outline: none;
    border: 1px solid white;
    caret-color: white;
}
/* .clickable{
    position: absolute;
    top: 0;
    right: 35%;
} */
/* .clickable>p{
    color: blue;
    text-decoration: underline dotted blue;
    cursor: pointer;
    position: absolute;
} */
.bars-btn{
    color: white;
    background-color:#302E31;
    /* font-size: 50px; */
    cursor: pointer;
    border: none;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    position: absolute;
}
.bars-icon{
    pointer-events: none;
}
.add-kinopoisk-button{
    /* padding: 30px 117px; */
    padding: 24px;
    width:350px;
    border-radius: 25px;
    font-size: 29px;
    background-color: #2C2C2E;
    outline: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.addFilmOptions {
    display: none;
    border: 1px solid white;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
}
.show {
    display: block;
}
.addFilmOptions>input{
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;
    background-color: #302E31;
    outline: none;
    border: 1px solid white;
    caret-color: white;
}
.add-button {
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #2C2C2E;
    outline: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}


.result{
    display: flex;
    /* flex-direction: column; */
    /* font-family: cursive, sans-serif ; */
    justify-content: center;
}
.output-section{
    margin-top: 45px;
}
.output-section>h3{
    font-size: 90px;
    color: white;
}
.output{
    color: white;
}
#result{
    display: flex;
    justify-content: center;

}
.main-button{
    display: flex;
    justify-content: center; 
    margin-top: 113px;
    
}

.button{
    outline: none;
    /* border: 1px solid #ecdede; */
    border: none;
    padding: 29px 144px;
    font-size: 30px;
    border-radius: 25px;
    /* background-color: #5b099b; */
    color: white;
    cursor: pointer;
    background: 
     radial-gradient(
        circle at 47% 0,
        rgba(91 9 155 /-0.5) 20%,
        rgba(91 9 155/0.5) 58%
      ),
    
    radial-gradient(
      circle at 47% 0,
      rgba(170 34 156 / 0.92) 24%,
      rgba(162 95 248 / 0.89) 85%
    ),
     radial-gradient(
      circle at 46% 0,
      rgba(194 67 254 / 1) 0%,
      rgba(182 47 246 / 0.12) 100%
    ),
     radial-gradient(
      circle at 35% 0,
      rgba(255 255 255 / 0.73) 0%,
      rgba(255 255 255 / 0.12) 100%
    ),
     radial-gradient(
      circle at 50% 0,
      rgba(255 255 255 / 1) 0%,
      rgba(255 255 255 / 0) 100%
    ),
     radial-gradient(
      circle at 80% 0,
      rgba(255 255 255 / 1) 0%,
      rgba(255 255 255 / 0) 100%
    )
    ;
    box-shadow: 
    0px 14.55px 100px 0px rgba(125, 20, 208, 0.8),
    14.55px 22.09px 150px 0px rgba(218, 37, 156, 0.3),
    -29.09px -29.09px 100px 0px rgba(102, 67, 242, 0.3),
    0px 0px 14.55px 0px rgba(255, 255, 255, 0.4),
    inset 0px 0px 14.55px 0px rgba(255, 255, 255, 0.4)

    ;
}

.film-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 50px;

    position: relative;
}

.card {
    width: 250px;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(68 68 68 / 20%);
    padding: 15px;
    transform-origin: bottom center;
    transition: transform 0.3s;
    position: absolute;
    color: white;
}
.card-img{
    width: 100%;
    border-radius: 10px;
    z-index: 1;
}
/* .card>img{
    width: 100%;
    border-radius: 10px;
} */
.img-wrapper {
    position: relative;
}
.description-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
}

.img-wrapper:hover .card-img {
    /* opacity: 1; */
    filter: blur(5px);
}

.img-wrapper:hover .description-layer {
    opacity: 1;
}

/* .description-layer>p{
    display: none;
} */
/* .show-description>p{
    display: block;
} */
.view-icon{
    pointer-events: none;
}
.trash-icon{
    pointer-events: none;
}
.star-icon{
    background: linear-gradient(45deg,#afaf16 , white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.watchedCard{
    width: 250px;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(68 68 68 / 20%);
    padding: 15px;
    transform-origin: bottom center;
    transition: transform 0.3s;
    position: absolute;
    color: white;
}
/* .watchedCard>img{
    width: 100%;
    border-radius: 10px;
} */
.card-body{
    font-family: cursive, sans-serif ;
    font-size: 10px;
    /* font-weight: bold; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-text{
    padding: 0 5px 0 5px;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    text-align: center;

}
.card-title {
    word-wrap: break-word;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.card-find{
    width: 30vh;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(68 68 68 / 25%);
    padding: 15px;
    color: white;
    overflow: hidden;
}
/* .card-find>img{
    width: 100%;
    border-radius: 10px;
} */
.card-random{
    width: 30vh;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(68 68 68 / 0%);
    padding: 15px;
    color: white;
    overflow: hidden;
}
/* .card-random>img{
    width: 100%;
    border-radius: 10px;
} */
.button-section{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.btn{
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(68 68 68 / 0%);
    outline: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.output{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.output-image{
    display: flex;
    justify-content: center;
}
.output-image>img{
    width: 20vh;
}
.big-text {
    font-size: 24px;
    font-weight: bold;
}




.description-modal{}

.description-modal.open .modal-overlay,
.description-modal.open .modal-window {
    opacity: 1;
    z-index: 1000;
}
.description-modal.hide .modal-overlay,
.description-modal.hide .modal-window {
    opacity: 1;
    z-index: 1000;
}
.description-modal.open  .modal-window {
    transform: translateY(100px);
}
.description-modal.open  .modal-overlay{
    background: rgba(0, 0, 0, .5);
}
.description-modal.hide  .modal-window {
    transform: translateY(-200px);
}
.description-modal.hide  .modal-overlay{
    background: rgba(0, 0, 0, 0);
}


.modal-window, .modal-overlay{
    opacity: 0;
    z-index: -1;
}
.modal-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
}
.modal-window {
    width: 600px;
    border-radius: 25px;
    border: 1px solid white;
    background:  rgb(68 68 68 / 50%);
    color: white;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;

}
.modal-header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.modal-title{
    font-size: 1.5rem;
}

.modal-close{
    cursor: pointer;
}
.modal-body{
    padding: 10px;
}

.modal-body p {
    margin: 0 0 5px;
}

.modal-footer{
    padding: 5px 10px;
    border-top: 1px solid #eee;
}
.modal-footer button{
    margin-left: 5px;
    border-width:1px;
}
#filter-results{
    display: flex;
    justify-content: center;
}
.page {
    display: none;
}
.page.show {
    display: block;
}
/* .wrapper{
    position: relative;
} */
.left-up-shadow{
    /* position: absolute; */
    top: -450px;
    width: 1611px;
    height: 1262px;
}
.right-up-shadow{
    /* position: absolute; */
    top: -110px;
    right: -60px;
    height: 1262px;
    width: 1276px;
}
.down-shadow{
    /* position: absolute; */
    width: 1025px;
    height: 1025px;
    top: 500px;
    left: 750px;
}
.left-up-shadow,
.right-up-shadow,
.down-shadow {
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}